<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<header>
			<h1>Edit <%=article.name%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/articles">Articles Index</a><br/>
            <small>Added by: <%=user.username%>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Article Attributes:</h2>
			<form action="/articles/<%=article._id%>?_method=PUT" method="post">
				Destination: <input type="text" name="name" value="<%=article.name%>"/><br/>
        Date: <input type="text" name="date" value="<%=article.date%>"/></br/>
				Notes: <textarea name="body"><%=article.notes%></textarea><br/>
        Photos: <input type="text" name="photos" value="<%=article.photos%>"/><br/>
				<input type="submit" value="Update Article"/>
			</form>

		</main>
	</body>
</html>
